<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{producto.sabor}}</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">

</head>

<body>
    <header>
        <a href="/">
            <img src="/images/logoCrispops.png" alt="Logo Crispops">
        </a>
    </header>
    <section class="promoBanner">

        <div class="info">
            <span>NO TE LOS PIERDAS
                <b>¡VISITANOS YA!</b>
            </span>
            <h2>DESCUENTOS ESPECIALES </br> Y PAQUETES EXCLUSIVOS</h2>
        </div>
        <button class="irAhora">
            <a href="/gameOne">Ir Ahora</a>
            <img src="/images/irAhora.png" alt="→">
        </button>
    </section>
    <section class="tienda">
        <div class="title">
            <h1>PRODUCTOS</h1>
            <article class="cart">
                <h2 class="carrito">0</h2>
                <span>Productos</span>
                <img src="/images/carrito.png" alt="Carrito">
                <div class="contenido">
                    <span>Numero de Productos:</span>
                    <h2 class="carrito">0</h2>
                    <div>
                        <a href="/checkout">
                            <button>VER CARRITO</button>
                        </a>
                        <a href="/productos/{{producto._id}}">
                            <button class="vaciar">VACIAR CARRITO</button>
                        </a>
                    </div>
                </div>
            </article>
        </div>

        <section class="producto">
            <div class="imagen">
                <img src="{{producto.imagen}}" alt="Chocolate {{producto.sabor}}">
            </div>
            <div class="caracteristicas">
                <h1>Chocolate {{producto.sabor}}</h1>
                <h2><b>$ {{producto.precio}}.00</b></h2>
                <h2>Tamaño: <b>{{producto.tamano}}</b></h2>
                <h3>Pedido Minimo: <b>{{producto.pedidoMinimo}} Unidades</b></h3>
                <p>{{producto.detalles}}</p>
                <div data-id="{{this._id}}">
                    <button class="anadir">
                        <b>Añadir al Carrito</b>
                    </button>
                </div>
            </div>
        </section>

    </section>
    <script src="/js/cliente.js"></script>
    <script src="/js/productos.js"></script>
</body>